<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.url %>);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container mt-3">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie%>
    <%= f.submit 'Save' %>
  <% end %>
</div>
